.sale{
    background-color: #dfdfdf;
    color:red;
    font-size:200%;
    font-weight:900;
    justify-content: center;
    padding-bottom: 30px;
}
.card-img-top {
    height: auto;
    width: 100%;
}
.card-body {
  padding-left: 20px;
  color:red;
}
.card-footer {
  padding: 0px !important;
  background: #fff;
}
.fonas {
  background-color: #dfdfdf;
  padding-bottom: 50px;
}
