/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

.bot {
  margin-bottom: 30px;
}

.list-group-item.active {
    background-color: #b1c522;
    border-color: #b1c522;
}
.badge-warning {
    background-color: #b1c522;
}
.btn-primary {
  background-color: #b1c522;
  border-color: #b1c522;
}

.btn-primary:hover {
  background-color: #8E9F0F;
  border-color: #8E9F0F;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #b1c522;
  border-color: #b1c522;
}
.zemyn {
  margin-top: 20px;
}

/* admin-products.component pagination */
.column-header .column-sort-icon {
    float: none !important;
}
.column-header.resizable .column-sort-icon{
    margin-left: 6px !important;
}
.pagination-controllers {
   margin-bottom: 15px;
}

@media (max-width: 468px) {
  .btn {
    padding: .5rem .75rem !important;
  }
}
